---
interface Props {
  image: ImageMetadata;
  title: string;
  description: string;
  color: string;
}

const { image, title, description, color } = Astro.props;

import { Image } from "astro:assets";

---

<div>
  <figure class="image is-128x128 is-horizontal-center">
    <Image class="is-rounded bordered" src={image} alt="image"/>
  </figure>
  <h4 class="title is-4 has-text-centered underlined-heading mt-3">{title}</h4>
  <p class="has-text-centered">{description}</p>
</div>

<style define:vars={{ color }}>
  .underlined-heading {
    position: relative;
    padding-bottom: 10px;
  }

  .underlined-heading::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 75%;
    height: 2px;
    background-color: var(--color);
    transform: translateX(-50%);
  }

  .is-horizontal-center {
    margin: auto;
  }

  .bordered {
    border: 8px solid #ececec;
  }
</style>
