---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<p>{t("obtinerea.column2.1")}<br>
    {t("obtinerea.column2.2")}<br>
    {t("obtinerea.column2.3")}<br>
    {t("obtinerea.column2.4")}<br>
    {t("obtinerea.column2.5")}<br>
    {t("obtinerea.column2.6")}<br>
    {t("obtinerea.column2.7")}<br>
    {t("obtinerea.column2.8")}<br>
    {t("obtinerea.column2.9")}<br>
    {t("obtinerea.column2.10")}<br>
</p>